.gradient-custom {
    /* fallback for old browsers */
    background: #1e1e2f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1)) */
    }

.login-card {
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}